@model IEnumerable<Web_CRUD_Contatos.Models.Curso>

@{
    ViewData["Title"] = "Lista de Cursos";
}
<h1>Lista de Cursos</h1>

<p>    
    <a class="btn btn-success" asp-action="Create">Adicionar um novo curso</a>    
</p>


<table class="table" id="table-cursos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>              
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id">Editar</a>                 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

