@model IEnumerable<Web_CRUD_Contatos.Models.Contato>

@{
    ViewData["Title"] = "Lista de Alunos";
}
<h1>Lista de Alunos</h1>

@if (TempData["MessagemSucessoAdd"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type= "button" class = "btn btn-danger btn-sm close-alert" arial-label ="Close">x</button>
        @TempData["MessagemSucessoAdd"]
    </div>
}
<p>   
    <a class="btn btn-success" asp-action="Create">Adicionar um novo aluno</a>    
</p>

<table class="table" id = "table-contatos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>              
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id">Editar</a>                 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>


