@model IEnumerable<Web_CRUD_Contatos.Models.Matriculas>

@{
    ViewData["Title"] = "Realizar uma matricula";
}
<h1>Lista de alunos matriculados</h1>


<h1></h1>

<p>    
    <a class="btn btn-success" asp-action="Create">Matricular um aluno</a>
</p>
<table class="table" id="table-matriculas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id">Editar</a>                 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
